<article>
  <img class="listing-photo" [src]="cuerposLocation?.photo" alt="{{cuerposLocation?.cuerpo}}"/>
  <section class="listing-description">
    <h1 class="listing-heading1">{{cuerposLocation?.cuerpo}}</h1>
    <h2 class="listing-heading2">{{cuerposLocation?.titulacion}}</h2>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Modificar Cuerpo:</h2>
    <form [formGroup]="applyForm" (submit)="onSubmit()">
      <div *ngIf="!mostrarDatos">
        <button type="button" (click)="toggleDatos()" class="primary">Editar</button>
        <button type="button" (click)="borrarCuerpo(cuerposLocation?.id)" class="borrarBig">Borrar Cuerpo</button>
      </div>
      <div *ngIf="mostrarDatos">
        <label for="cuerpo">Cuerpo</label>
        <input id="cuerpo" type="text" formControlName="cuerpo">
        <label for="titulacion">Titulación</label>
        <input id="titulacion" type="text" formControlName="titulacion">
        <label for="requisitos_edad">Requisitos Edad</label>
        <input id="requisitos_edad" type="text" formControlName="requisitos_edad">
        <label for="pais">Pais</label>
        <input id="pais" type="text" formControlName="pais">
        <label for="photo">Foto</label>
        <input id="photo" type="text" formControlName="photo">
        <label for="pdf">Pdf</label>
        <input id="pdf" type="text" formControlName="pdf">
        <button type="submit" class="primarySmall">Modificar</button>
        <button *ngIf="mostrarDatos" type="button" (click)="cancelar()" class="secondarySmall">Cancelar</button>
      </div>
    </form>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">Sobre este Cuerpo:</h2>
    <a *ngIf="cuerposLocation?.pdf" [href]="cuerposLocation?.pdf" target="_blank">Más Información</a>
  </section>
</article>
