<article>
  <img class="listing-photo" [src]="cuerposLocation?.photo"
    alt="{{cuerposLocation?.cuerpo}}"/>
  <section class="listing-description">
    <h1 class="listing-heading1">{{cuerposLocation?.cuerpo}}</h1>
    <h2 class="listing-heading2">{{cuerposLocation?.titulacion}}</h2>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Añadir Cuerpo:</h2>
    <form [formGroup]="applyForm" (submit)="submitApplication()">
      <label for="id">Id</label>
      <input id="id" type="text" formControlName="id">

      <label for="cuerpo">Cuerpo</label>
      <input id="cuerpo" type="text" formControlName="cuerpo">

      <label for="titulacion">Titulación</label>
      <input id="titulacion" type="text" formControlName="titulacion">

      <label for="requisitos_edad">Reaquisitos Edad</label>
      <input id="requisitos_edad" type="text" formControlName="requisitos_edad">

      <label for="pais">Pais</label>
      <input id="pais" type="text" formControlName="pais">

      <label for="photo">Foto</label>
      <input id="photo" type="text" formControlName="photo">

      <label for="pdf">Pdf</label>
      <input id="pdf" type="text" formControlName="pdf">
      <button type="submit" class="primary">Enviar</button>
    </form>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">Sobre este Cuerpo:</h2>
    <a href="{{cuerposLocation?.pdf}}" target="_blank">
      Más Información
      <embed src="{{cuerposLocation?.pdf}}" type="application/pdf" width="100%" height="500px" />
    </a>
  </section>
</article>

