/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  --primary-color: #FFD216;
  --secondary-color: #191829;
  --accent-color: #FFEA90;
  --shadow-color: #E8E8E8;
  --link-color: #fc0000;
}

a:hover {
  --secondary-color: #00b7f4;
}

button:hover {
  --primary-color: #fff716;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
  padding-left: 100px;
  padding-right: 100px;
}

button:hover.primary {
  --primary-color: #fff716;
}

button.secondary {
  padding: 10px;
  border: solid 1px var(--link-color);
  background: var(--link-color);
  color: white;
  border-radius: 8px;
  padding-left: 100px;
  padding-right: 100px;
}

button:hover.secondary {
  --link-color: #fc0000b9;
}

button.primarySmall {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
  padding-left: 70px;
  padding-right: 70px;
}

button:hover.primarySmall {
  --primary-color: #fff716;
}

button.secondarySmall {
  padding: 10px;
  border: solid 1px var(--link-color);
  background: var(--link-color);
  color: white;
  border-radius: 8px;
  margin-left: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

button:hover.secondarySmall {
  --link-color: #fc6100;
}

button.borrarBig {
  padding: 10px;
  border: solid 1px var(--link-color);
  background: var(--link-color);
  color: white;
  border-radius: 8px;
  margin-left: 60px;
  border-radius: 8px;
  padding-left: 70px;
  padding-right: 70px;
}

button:hover.borrarBig {
  --link-color: #fc6100;
}

button.borrarSmall {
  padding: 10px;
  border: solid 1px var(--link-color);
  background: var(--link-color);
  color: white;
  border-radius: 8px;
  margin-left: 160px;
  padding-left: 10px;
  padding-right: 10px;
}

button:hover.borrarSmall {
  --link-color: #fc6100;
}

